.background {
    background-color: #141414;
}

.banner {
    height: 100vh;
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.banner_image {
    width: 100%;
    position: absolute;
    height: 90vh;
    -o-object-fit: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    top: 0;
}

.rows {
    position: relative;
    /* background-color: #141414; */
    top: -70px;
}

.pqdka {
    position: absolute;
    top: 30%;
    bottom: 8%;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #161616 83.95%, #161616 100%);

}

/* .content_optionsUrl {
    height: 43% !important;
    width: 100% !important;
} */

.banner_text {
    position: absolute;
    top: 4rem;
    padding-left: 2rem;
    width: 100%;
    z-index: 1;
    font-size: 2.2222222222222223vw;
    line-height: 2.7777777777777777vw;
    font-weight: bold;
    color: white;
    display: flex;
    z-index: 12;
    gap: 1rem;
    transition: 0.7s;
}

.subnavbarContentGenre {
    background-color: #141414;
    position: fixed;
    top: 0;
    z-index: 6;
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    gap: 1rem;
    transition: 0.7s;
}


.banner_h3 {
    /* position: absolute; */
    /* top: 9.4vw; */
    /* left: 4%; */
    z-index: 1;
    font-size: 3.5vw;
    font-weight: bold;
    color: white;
}

.banner_p {
    /* position: absolute; */
    /* top: 14vw; */
    /* left: 4%; */
    z-index: 1;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    width: 375px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contentButtons {
    /* position: absolute; */
    /* top: 23vw; */
    /* left: 4%; */
    display: flex;
    gap: 1rem;
}

.bannerButtonPlay {
    font-size: 14px;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 1rem;
    background: #ffffffef;
    border-radius: 0.3rem;
    height: 40px;
}

.bannerButtonInfo {
    font-size: 14px;
    font-weight: 900;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 1rem;
    background: #222222c9;
    border-radius: 0.3rem;
    height: 40px;
}

.content_baner {
    position: absolute;
    width: 100%;
    top: 49%;
    padding-left: 2rem;
    padding-right: 2rem;
}



/* youtube.com/watch?v=${trailer} */

@media (max-width: 1200px) {
    .content_baner {
        top: 37%;
    }

    .contentButtons {
        align-items: center;
    }

}

@media (max-width: 680px) {
    .banner_text {
        font-size: 1.5rem;
    }

    .banner_h3 {
        font-size: 1.3rem;
    }

    .banner_p {
        font-size: 0.8rem;
    }


    .content_baner {
        top: 37%;
    }

}

@media (max-width: 480px) {
    .banner_text {
        font-size: 1.5rem;
        line-height: 1.4rem;
    }

    .banner_h3 {
        top: 30.4vw;
        font-size: 1.3rem;
    }

    .banner_p {
        top: 38vw;
        font-size: 0.8rem;
    }

    .contentButtons {
        top: 60vw;
        display: block;
    }

    .bannerButtonPlay {
        margin: 1rem 0;
    }

}

@media (max-width: 412px) {
    /* .banner_text {
        top: 32.4vw;
    } */
    /*
    .banner_h3 {
        top: 48.4vw;
    } */

    .banner_p {
        /* top: 57vw; */
        font-size: 0.8rem;
        width: 100%;
    }

    /* .contentButtons {
        top: 87vw;
    } */

    .content_baner{
        top: 26%;
    }

}

.subnavbar {
    background-color: #141414;
    position: fixed;
    top: 0;
    z-index: 4;
    height: 66px;
    width: 100%;
}
