.content {
    position: relative;
}

.content_data {
    background-color: red;
}

.conent_login {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.concord_img_gradient {
    background: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-image: linear-gradient(0deg, #0000 50%, rgb(0, 0, 0)), radial-gradient(50% 100%, transparent 0, rgb(0, 0, 0) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
}

.imgLayout {
    height: 100vh;
    width: 100%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
}

.with_content {
    background-color: #000000db;
    width: 60%;
    padding: 60px 68px 40px;
    margin: 0 auto;
}

.with_content input {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    background: #696887 !important;
    border: 0;
    border-radius: 4px;
    color: #fff;
    height: 50px;
    margin: 1rem 0;
}

.with_content input::placeholder {
    color: #c9c9c9;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease, top .1s ease, transform .1s ease;
}

.with_content h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.with_content .button {
    background-color: red;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    width: 100%;
    padding: 16px;
    display: inline-block;
    line-height: 1em;
    margin-right: 0.5em;
    color: white;
}

.with_content h6 {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
}

.with_content h5 {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.with_content a {
    color: white;
    cursor: pointer;
}

.content_options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check {
    align-items: center;
    display: flex;
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
}

.check input[type="checkbox"] {
    width: 17px;
}

.check input:checked {
    background: #737373;
    border: 0;
    border-radius: 2px;
    height: 16pxpx;
    left: -20px;
    width: 16px;
}

.content_general_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.genresContent {
    background-color: #575ad5;
    color: white;
    position: relative;
    height: 45px;
    display: flex;
    margin: 0.1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: 700;

}

.genresinput {
    height: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;

}

.genresContent input[type=checkbox] {
    width: 95px;
    height: 30px;
    opacity: 0;

}

.content_general_input_selected {
    background-color: #047e14;
    color: white;
    position: relative;
    height: 45px;
    display: flex;
    margin: 0.2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
}

.genresContentListGet {
    background-color: #047e14;
color: white;
position: relative;
height: 45px;
display: flex;
margin: 0.2rem;
align-items: center;
justify-content: center;
padding: 1rem;
border-radius: 0.3rem;
cursor: pointer;
font-size: 0.8rem;
font-weight: 700;
margin-top: 1rem;

}
