.container {
    position: relative;
    top: -45px;
  }
  .container .card {
    cursor: pointer;
  }

  .container .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    transition: 0.5s;
  }

  .container .card .face {
    width: 300px;
    transition: 0.7s;
  }

  .container .card .face.faceOne{
    position: relative;
    z-index: 1;
    transform: translateY(100px);
  }

  .container .card:hover .face.faceOne{
    transform: translateY(0);
  }

  .container .card .face.faceOne .content {
    transition: 0.5;
  }

  .container .card .face.faceTwo{
    position: relative;
    background: #141414;
    transform: translateY(-71px);
  }

  .container .card:hover .face.faceTwo {
    transform: translateY(0);
    width: 330px;
    height: 350px;
    position: absolute;
    top: -170;
    transition:  all 300ms ease-in;


  }
