/* new code */
.content_navbar_principal {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 10vh;
}

.content_navbar_principal_provider {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 10vh;
}

.content_style_navbarTransition_ease_in_out {
    background-color: #141414;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.content_style_navbarTransition_int {
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
}

@media (max-width: 798px) {
    .content_navbar {
        display: none;
    }
}


/* SUBNAVBAR */
.subnavbar {
    position: absolute;
    top: 4rem;
    width: 100%;
    z-index: 1;
    padding: 1rem 2rem;
}

.subnavbar_text_filmsUrl {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.subnavbarFilms {
    position: absolute;
    top: 4rem;
    /* width: 100%; */
    z-index: 3;
}

.subnavbar_text {
    /* position: absolute;
    top: 2rem; */
    width: 100%;
    z-index: 1;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    z-index: 12;
    gap: 1rem;
    /* transition: 0.7s;     */
    padding: 1rem 2rem;
    align-items: first baseline;
    line-height: 1.6rem;
}

.subnavbarContentGenre {
    background-color: #141414;
    position: fixed;
    top: 0;
    z-index: 4;
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    gap: 1rem;
    transition: 0.7s;
    padding: 1rem 2rem;
}

.content_sub_navbar {
    background-color: #0d0d0dd6;
    font-size: 0.9rem;
    font-weight: 400;
    border: 2px solid #dfdfdf;
    border-radius: 0.3rem;
}

.urlId a {
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
}

.urlId a:hover {
    background-color: rgb(224, 224, 224);
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.select_options {
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.1rem 2rem
}

.select_options:hover {
    background-color: rgb(224, 224, 224);
    border: 1px solid white;
    color: black;
    font-weight: 600;
    border-radius: 0.2rem;
    cursor: pointer;
}

.content_navbarOther{
    background-color: #0d0d0dd6;
    font-size: 0.9rem;
    font-weight: 400;
    border: 2px solid #dfdfdf;
    border-radius: 0.3rem;
    position: absolute;
}
