/* new code */
.content_navbar_principal {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    height: 10vh;
}